
{%extends "showallitems.html" %}

{%block content%}

<div class="container">
<h1> Login</h1>
{%if error%}
<p> Invalid Username or Password</p>
{%end if%} 
<form method="post">
<table class="table">
    <tr><td>Enter Login Id</td> 
        <td><input type="text" required class="form-control" name="unm"/></td></tr>
    <tr><td>Enter Password</td>
    <td><input type="password" required class="form-control" name="pwd"/></td></tr> 
      
         
<tr><td>
    <button type="submit" class="button btn-success">Login</button>
</td></tr>
</table>
</form>
</div>
{%endblock%}