{%extends "showallitems.html"%}

{%block content%}
<div class="container">
<h1>Sign Up</h1>
<form method="post">
<table class="table">
    <tr><td>Enter Login Id</td> 
        <td><input type="text" required class="form-control" name="unm"/></td></tr>
    <tr><td>Enter Password</td>
         <td><input type="text" required class="form-control" name="pwd"/></td></tr>   
         <tr><td>Enter EMail id</td>
            <td><input type="email" required class="form-control" name="mail_id"/></td></tr>   
<tr><td>
    <button type="submit" class="button btn-success">Sign Up</button>
</td></tr>
</table>
</form>
</div>
{%endblock%}